.abt-cnt {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  gap: 1.2rem;
}

.abt-img-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}

.abt-txt-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.abt-btn-cnt {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.abt-btn-cnt {
}

.abt-btn-cnt-txt {
  color: cadetblue;
}

.abt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
